<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'cast_spaces' => ['space' => 'none'],
        'ordered_imports' => true,
        'native_function_invocation' => ['include' => [], 'strict' => true],
        'yoda_style' => ['equal' => false, 'identical' => false],
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
