parameters:
    level: 9
    paths:
        - src
        - tests
        - migrations
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        allowNullablePropertyForRequiredField: false
        objectManagerLoader: tests/object-manager.php
