{% extends 'layout.html.twig' %}
 
{% block content %}
{% if logs is not empty %}
<pre>{{ logs }}</pre>
{% else %}
<div class="alert alert-block alert-error">Logs are unavailable for this crash.</div>
{% endif %}
{% endblock %}

