{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        <div class="well">
{% for error in errors %}
            <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
            <form action="" method="post" class="form-crashid form-inline text-center">
                <div class="input-group">
                    <span class="input-group-addon input-group-yubikey"><img src="{{ app.request.baseUrl }}/img/yubikey.png" alt="Yubico Logo"></span>
                    <input type="text" name="otp" class="form-control span4 monospace" placeholder="Touch the button on your YubiKey" autofocus autocomplete="off">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Go</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

