.table-form {
    margin-bottom: 0;
    display: inline-block;
}

.table-form .btn {
    margin: 0 2px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 6px;
}

.identicon {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pull-subtitle {
    margin-top: 0.5em;
}

.column-stackframe {
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 700px;
    text-overflow: ellipsis;
}

td.column-actions {
    text-align: right;
}

.table th, .table td {
    vertical-align: middle;
}

.page-header-table {
    margin-bottom: 0;
    border-bottom: 0;
}

