html, body {
    height: 100%;
}

body {
    background-color: #F8F8F8;
}

.navbar-static-top {
    margin-bottom: 0;
}

.container > div:first-child {
    margin-top: 20px;
}

.navbar-default, .well, pre {
    background-color: #FFF;
}

.well-tight {
    padding: 0;
}

.well > *:first-child {
    margin-top: 0;
}

.well > *:last-child {
    margin-bottom: 0;
}

.navbar-nav {
    margin: 0 -15px;
    padding-top: 5px;
}

.navbar-nav li a {
    padding-right: 30px;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0;
        padding-top: 0;
    }

    .navbar-nav li a {
        padding-right: 15px;
    }
}

.nav>li>a>img {
    height: 30px;
    margin-top: -7px;
    margin-bottom: -5px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 3px;
}

form.form-crashid {
    margin-bottom: 20px;
}

span.divider {
    color: #BBB;
    display: block;
    margin: 0 auto;
    width: 35px;
    text-align: center;
    margin-bottom: 20px;
}

span.divider:before, span.divider:after {
    background-color: #CCC;
    content: '';
    width: 160px;
    height: 1px;
    position: absolute;
    margin-top: 10px;
}

span.divider:before {
    margin-left: -170px;
}

span.divider:after {
    margin-left: 10px;
}

.alert {
    padding-right: 14px;
}

.monospace {
    font-family: Consolas, Lucida Console, monospace;
}

.input-crashid {
    text-transform: uppercase;
}

#stat-blocks div.alert strong {
    display: block;
    font-size: 2em;
    line-height: 1;
}

#footer {
    padding-bottom: 20px;
}

.crash-counts { 
    margin-top: 12px;
}

.column-identicon {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
}

.column-stackframe {
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 330px;
    text-overflow: ellipsis;
    word-break: break-word;
}

.table-stacktrace tbody td {
    word-break: break-word;
}

@media (min-width: 768px) {
    .table-stacktrace tbody td {
        max-width: 600px;

        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .column-stackframe {
        max-width: 500px;
    }

    .table-stacktrace tbody td {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .column-stackframe {
        max-width: 750px;
    }

    .table-stacktrace tbody td {
        max-width: 1000px;
    }
}

tr.stackframe-expand td {
    white-space: normal;
}

.column-stackframe-fallback {
    font-style: oblique;
}

td.column-actions {
    text-align: right;
    padding: 7px 8px !important;
}

td.column-actions .btn {
    margin: 0 2px;
}

.button-form {
    margin-bottom: 0;
    display: inline-block;
}

.table-stacktrace tbody th {
    text-align: right;
    font-weight: bold;
    min-width: 20px;
}

.table-modules tbody td:first-child, .table-modules thead th:first-child {
    font-weight: bold;
    text-align: right;
}

.table-modules tbody td:last-child {
    word-break: break-all;
}

.table-modules.table-hidden tfoot tr td {
    border-top: 0;
}

.table-modules.table-hidden thead, .table-modules.table-hidden tbody {
    display: none;
}

.table-hidden tfoot:hover {
    cursor: pointer;
}

.table-hidden tfoot td, .table-more {
    text-align: center;
}

.table-hidden tbody tr:nth-child(n+11) {
    display: none;
}

.table-shown tfoot {
    display: none;
}

.table-more {
    padding: 0 !important;
}

.table-more a {
    display: block;
    padding: 8px;
}

.table-more a:hover {
    text-decoration: none;
}

.pager {
    margin: 0;
}

.table .text-center {
    text-align: center;
}

.column-iconstack {
    position: relative;
}

.column-iconstack img:last-child:not(:first-child) {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    box-shadow: -1px -1px 0 rgba(255,255,255,0.8);
}

