html, body {
    height: 100%;
}

body {
    background-color: #F8F8F8;
}

.text-muted, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, .breadcrumb>.active {
    color: #777;
}

.navbar-static-top {
    margin-bottom: 0;
}

.container > div:first-child {
    margin-top: 20px;
}

.navbar-default, .well, pre {
    background-color: #FFF;
}

.well {
    overflow-x: hidden;
}

.well-tight {
    padding: 0;
}

.well > hr {
    margin-left: -20px;
    margin-right: -20px;
}

.well > *:first-child {
    margin-top: 0;
}

.well > *:last-child {
    margin-bottom: 0;
}

.navbar-nav {
    margin: 0 -15px;
    padding-top: 5px;
}

.navbar-nav li a {
    padding-right: 30px;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0;
        padding-top: 0;
    }

    .navbar-nav li a {
        padding-right: 15px;
    }
}

.nav>li>a>img {
    height: 30px;
    margin-top: -7px;
    margin-bottom: -5px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 3px;
}

form.form-crashid {
    margin-bottom: 20px;
}

span.divider {
    color: #BBB;
    display: block;
    margin: 0 auto;
    width: 35px;
    text-align: center;
    margin-bottom: 20px;
}

span.divider:before, span.divider:after {
    background-color: #CCC;
    content: '';
    width: 160px;
    height: 1px;
    position: absolute;
    margin-top: 10px;
}

span.divider:before {
    margin-left: -170px;
}

span.divider:after {
    margin-left: 10px;
}

.alert {
    padding-right: 14px;
    text-align: center;
}

.container > div.alert:first-child {
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.container > h2 {
    margin-left: 10px;
}

.monospace {
    font-family: Consolas, Lucida Console, monospace;
}

.input-crashid {
    text-transform: uppercase;
}

#stat-blocks div.alert strong {
    display: block;
    font-size: 2em;
    line-height: 1;
}

#footer {
    padding-bottom: 20px;
}

.crash-counts { 
    margin-top: 12px;
}

.column-identicon {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
}

.column-stackframe {
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 295px;
    text-overflow: ellipsis;
    word-break: break-word;
}

.table-stacktrace tbody td {
    word-break: break-word;
}

@media (min-width: 768px) {
    .table-stacktrace tbody td {
        max-width: 600px;

        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .column-stackframe {
        max-width: 515px;
    }

    .table-stacktrace tbody td {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .column-stackframe {
        max-width: 715px;
    }

    .table-stacktrace tbody td {
        max-width: 1000px;
    }
}

tr.stackframe-expand td {
    white-space: normal;
}

.column-stackframe-fallback {
    font-style: oblique;
}

td.column-actions {
    text-align: right;
    padding: 7px 8px !important;
}

td.column-actions .btn {
    margin: 0 2px;
}

td.column-notices {
    text-align: right;
}

td.column-notices .btn {
    padding: 0 5px;
    margin-top: -2px;
}

.button-form {
    margin-bottom: 0;
    display: inline-block;
}

.table-stacktrace tbody th {
    text-align: right;
    font-weight: bold;
    min-width: 20px;
}

.table-modules tbody td:first-child, .table-modules thead th:first-child {
    font-weight: bold;
    text-align: right;
}

.table-modules tbody td.monospace {
    word-break: break-all;
}

.table-modules tbody td:last-child, .table-modules thead th:last-child {
    text-align: right;
}

.table-modules.table-hidden tfoot tr td {
    border-top: 0;
}

.table-modules.table-hidden thead, .table-modules.table-hidden tbody {
    display: none;
}

.table-hidden tfoot:hover {
    cursor: pointer;
}

.table-hidden tfoot td, .table-more {
    text-align: center;
}

.table-hidden tbody tr:nth-child(n+11) {
    display: none;
}

.table-shown tfoot {
    display: none;
}

.table-more {
    padding: 0 !important;
}

.table-more a {
    display: block;
    padding: 8px;
}

.table-more a:hover {
    text-decoration: none;
}

.pager {
    margin: 0;
}

.table .text-center {
    text-align: center;
}

dl.dl-minidump dd {
    font-family: Consolas, Lucida Console, monospace;
    word-wrap: break-word;
}

dl.dl-minidump div.alert {
    margin-bottom: 0;
}

.column-iconstack {
    position: relative;
}

.column-iconstack img:last-child:not(:first-child) {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    box-shadow: -1px -1px 0 rgba(255,255,255,0.8);
}

.input-group-yubikey {
    background-color: #9aca3c;
}

.input-group-yubikey img {
    height: 20px;
}

.error-page {
    text-align: center;
    font-size: 1.5em;
    color: #555;
    padding: 20px 0;
    margin-bottom: 20px;
}

.error-page i {
    display: block;
    font-size: 8em;
}

.error-page span {
    display: block;
    font-size: 0.75em;
    color: #777;
}

.btn-default.btn-stats {
    background-color: transparent;
}

.alert-info {
    color: #003B61;
}

.alert-warning {
    color: #744C07;
}

.alert-success {
    color: #003C00;
}

.alert-danger {
    color: #6D0000;
}

.munin-graphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f0f0f0;
}

.munin-graphs img:nth-child(odd) {
    margin-left: auto;
    margin-right: 5%;
}

.munin-graphs img:nth-child(even) {
    margin-left: 5%;
}

.munin-graphs img:nth-child(n+3) {
    margin-top: 5%;
}

.supporter-tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dff0d8;
    padding: 5px 7px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #d6e9c6;
    border-bottom: 1px solid #d6e9c6;
    color: #003C00;
}

a.supporter-tag {
    color: #003C00;
    text-decoration: none;
}

[class^="icon-"].icon-fixed-width, [class*=" icon-"].icon-fixed-width {
    text-align: center;
}

.slider.slider-horizontal {
    width: 100%;
    height: 34px;
}

.slider-handle {
    top: 7px;
}

.slider-selection {
    background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%);
    background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%);
    background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0);
}

.subscribe-inputs {
    display: flex;
    flex-wrap: wrap;
}

.subscribe-inputs > .price-container {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.subscribe-inputs > .slider-container {
    display: inline-block;
    margin: 0 10px 0 20px;
    flex: 1;
}

.subscribe-inputs > .btn-group {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .subscribe-inputs {
        flex-wrap: nowrap;
    }

    .subscribe-inputs > .slider-container {
        margin-right: 20px;
    }

    .subscribe-inputs > .btn-group {
        width: auto;
        margin-top: 0;
    }
}

.table>tbody:first-child>tr:first-child>td, .table>tbody:first-child>tr:first-child>th {
    border-top: none;
}

.table-log>tbody>tr>td {
    font-family: Consolas, Lucida Console, monospace;
    white-space: pre-wrap;
}

.table-log>tbody>tr:not(:first-child)>td, .table-log>tbody>tr:not(:first-child)>th {
    padding-top: 0;
    border-top: none;
}

.table-log>tbody>tr:not(:last-child)>td, .table-log>tbody>tr:not(:last-child)>th {
    padding-bottom: 0;
}

.stats-graph-title small {
    display: block;
    margin-top: 5px;
    font-size: 0.5em;
}

@media (min-width: 768px) {
    .stats-graph-title {
        position: relative;
    }
    .stats-graph-title small {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.crash-count {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
}

.crash-count span {
    font-size: 3em;
    display: block;
    color: #333;
    line-height: 1.1;
    font-weight: 500;
}

@media(min-width: 992px) {
    .col-md-push-1-5 {
        left: 12.5%
    }
}

.nav-tabs {
    margin: 0 15px;
    border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-color: #ccc;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
    border-bottom-color: #ccc;
}

pre.tab-pane {
    margin-top: 0;
    word-break: break-word;
    white-space: pre;
    overflow-y: auto;
}
