{% extends 'layout.html.twig' %}

{% set logout_to_index = true %}
{% set supports_mobile = true %}
 
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        <div class="clearfix" style="margin-bottom: 20px;">
            <a class="btn btn-default pull-left" href="{{ path('share') }}"><i class="icon-chevron-left"></i> Back to Sharing</a>
        </div>
        <div class="well">
            <div class="alert alert-warning" style="text-align: left;">
                <p style="font-weight: bold;">Granting access to your crash reports using this form will give full permissions to the other person to interact with them as you do.</p>
                <p>This includes downloading the raw minidump and viewing the full command line options.</p>
                <p>If you just want to share the stack trace and other limited public information with someone, just link them to the crash report page rather than adding them here.</p>
            </div>
{% for error in app.session.flashbag.get('error_share_invite') %}
            <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
            <form action="{{ path('share_invite_post') }}" method="POST" class="form-inline text-center">
                <div class="input-group">
                    <span class="input-group-addon">Steam ID</span>
                    <input type="text" name="user" class="form-control span4" required pattern="\d*" placeholder="{{ app.user.id }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success"><i class="icon-inbox"></i> Invite</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

