{% extends 'layout.html.twig' %}

{% set logout_to_index = true %}
{% set supports_mobile = true %}
 
{% block content %}
<div class="clearfix" style="margin-bottom: 20px;">
    <a class="btn btn-default pull-left" href="{{ path('details', {'id': id}) }}"><i class="icon-chevron-left"></i> Back to Details</a>
    <a class="btn btn-default pull-right" href="{{ path('carburetor', {'id': id}) }}">Back to View Raw <i class="icon-chevron-right"></i></a>
</div>
<div id="content" class="well">
    <div id="loading" class="progress"><div class="progress-bar progress-striped" style="width: 0%"></div></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ app.request.baseUrl }}/js/jdataview.js"></script>
<script src="{{ app.request.baseUrl }}/js/minidump.js"></script>
{% endblock %}

